{% if resource is defined and resource is not null %}
    {% if not resource.isNull() %}
        {% set fileName = form_submission_webdir ~ resource.fileName %}
        {% if resource.url is not empty %}
            {% set fileName = resource.url %}
        {% endif %}
        <a target="_blank" href="{{ host }}{{ fileName }}">{{ resource.fileName }}</a>
    {% endif %}
{% endif %}
